{% extends "layout.html" %}
{% block title %} View Data {% endblock title%}

{% block content %}

<div class="col-lg-4 col-9 d-block mx-auto mt-3">
	<h1>Change Password</h1>
	<h5><a href="/">Back</a></h5>
	<h4>{{ error }}</h4>
	<form method="POST">
		<label for="">Old password</label>
		<input type="password" name="old" class="form-control">
		<label for="">New password</label>
		<input type="password" name="new" class="form-control">
		<button class="btn btn-outline-primary mt-3">Change</button>
	</form>
</div>

{% endblock content %}