{% extends "layout.html" %}
{% block title %} Home {% endblock title%}
{% block content %}

    <div class="d-flex justify-content-end">
	<div class="dropdown m-2">
		<button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
			Account
		</button>
		<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenu">
			<li><a class="dropdown-item" href="/logout">Logout</a></li>
			<li><a class="dropdown-item" href="/change-password">Change password</a></li>
		</ul>
	</div>

    </div>


    <img src="{{ url_for('static',  filename='logo.png') }}" alt="logo" class="d-block mx-auto col-2 col-md-1 my-2">

    <div class="text-center mt-5">
        <h1>Hub</h1>
        <h3>Loged in as {{ name }}</h3>
    </div>
    <div class="d-flex justify-content-center">
    <a href="/data" class="btn btn-outline-primary btn-lg m-5">Players Manager -></a>
	<a href="/clans" class="btn btn-outline-primary btn-lg m-5">Clans Manager -></a>
    </div>
		{% if manage %}
	<div class="d-flex justify-content-center">
	<a href="/admin" class="btn btn-outline-primary btn-lg m-5 text-center">Users Manager -></a>
		{% endif %}
	</div>
{% endblock %}